.Searchbar
    display: flex
    flex-direction: row
    align-items: center
    background-color: #e7e7e7
    border-radius: 14px
    height: 2.125rem
    width: 30%
    .logo
        opacity: 30%
        margin-left: auto
        height: 1.4rem
    .search-button
        margin: 0
    input[type=text]
        margin-left: 1rem
        border: none
        outline: none
        background-color: transparent
        width: 85%
        font-family: inherit
    button
        background: none
        border: none
        cursor: pointer
        height: 100%
        display: flex
        align-items: center
        padding: 1rem


    