.page-menu
    display: flex
    flex-direction: column
    .choice-menu
        display: flex
        flex-direction: column
    img
        width: 2rem
        padding: 0.3rem
        margin: 0.2rem
    > *:last-child
        margin-top: auto
        margin-bottom: 0.5rem

@media (max-width:760px)
    .page-menu
        > *:last-child
            display: none
    .page-menu .choice-menu
        flex-direction: row
        justify-content: space-around